.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
/*.Rcheck/
.httr-oauth
.DS_Store
# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md


## ignore all examples files except the .R scripts
/examples/
# but do not ignore the R files in examples directory (not subdirectories, though...)
# Reinclude all folders in /jobs
#!/examples/*/
# Ignore everything in the subfolders of /jobs
#/examples/*/*
# Reinclude config.xml files in the first-level subfolders of /jobs
#!/examples/*/.R


## Remove specific examples
#### remove data created during vignettes one and two directries down
vignettes/*/bbs/
vignettes/*/*/bbs/
vignettes/*/ebird/
vignettes/*/*/ebird/
vignettes/*/jags/
vignettes/*/*/jags/
vignettes/*/spatial/
vignettes/*/*/spatial/
vignettes/*.pdf
vignettes/*/*.pdf
vignettes/*/*/*.pdf
vignettes/*/*/*/*.pdf
vignettes/*.zip
vignettes/*/*.zip
vignettes/*/*/*.zip
vignettes/*/*/*/*.zip
vignettes/*.xml
vignettes/*/*.xml
vignettes/*/*/*.xml
vignettes/*/*/*/*.xml

*.pdf
inst/doc
