# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user
.DS_Store
data-raw/ebd_US_doccor_relSep-2021.zip
data-raw/ebd_CA_doccor_relSep-2021.zip
data-raw/ebird-data/ebd_CA_doccor_relSep-2021.zip
data-raw/ebird-data/ebd_sampling_relAug-2021.txt
data-raw/ebird-data/ebd_US_doccor_relSep-2021.txt
data-raw/ebird-data/ebd_US_doccor_relSep-2021.zip
data-raw/ebird-data/eBird_Basic_Dataset_Metadata_v1.13.pdf
data-raw/ebird-data/recommended_citation.txt
data-raw/ebird-data/IBACodes.txt
data-raw/ebird-data/terms_of_use.txt
data-raw/ebird-data/USFWSCodes.txt
data-raw/ebird-data/ebd_CA_doccor_relSep-2021.txt
